<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>
    <div class="portfolio__container container">

      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let item of swipper; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="item.img" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{item.title}}</h5>
              <p>{{item.parrafo}}</p>
              <a [href]="item.linkweb" class="button button--flex button--small portfolio__button">
                Demo
                <i class="bi bi-arrow-right button__icon"></i>
              </a>
              <button class="button x button--flex button--small button--link" *ngIf="(authService.isLoggedIn | async)" (click)="editSwipper(item.id)">Editar</button>
              <button class="button x button--flex button--small button--link" *ngIf="(authService.isLoggedIn | async)"  (click)="deleteSwipper(item.id)">Borrar</button>
            </div>
           
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
       
      </div>
      <div *ngIf="isEditing">
        <form (submit)="updateSwipper()">
            <input class="contact__input" type="text" name="title" [(ngModel)]="selectedSwipper.title" placeholder="Title">
            <input  class="contact__input" type="text" name="icono" [(ngModel)]="selectedSwipper.subtitle" placeholder="Lugar-tipo">
            <input  class="contact__input" type="text" name="icono" [(ngModel)]="selectedSwipper.date" placeholder="date-date">
            <button class="buttonCrear" type="submit">Guardar</button>
            <button class="buttonCrear" type="button" (click)="cancelSwipper()">Cancelar</button>
        </form>
    </div>
      <div *ngIf="(authService.isLoggedIn | async)">
        <form (submit)="createSwipper()">
        <input class="contact__input" type="text" name="title" [(ngModel)]="newSwipper.title" placeholder="Titulo">
        <input  class="contact__input" type="text" name="icono" [(ngModel)]="newSwipper.img" placeholder="Img">
        <input  class="contact__input" type="text" name="icono" [(ngModel)]="newSwipper.parrafo" placeholder="Parrafo">
        <input  class="contact__input" type="text" name="icono" [(ngModel)]="newSwipper.linkweb" placeholder="Link web">
        <button class="buttonCrear" type="submit">Crear skill</button>
        </form>
    </div>
    </div>
  </section>


