                
        <!------------------------ HEADER ------------------------>
                    <app-navbar></app-navbar> 
        <!------------------------ MAIN ------------------------>
        <main class="main">
                    <!--Home and about me-->
                    <app-aboutme></app-aboutme>

            <!------------------------ SKILLS ------------------------>
                    <app-skills-frontend></app-skills-frontend>
            <!------------------------ QUALIFICATION ------------------------>
                    <app-qualification></app-qualification>

            <!------------------------ SERVICES ------------------------>
                    <app-services></app-services>
            <!------------------------ PORTFOLIO ------------------------>

                    <app-carousel></app-carousel>

            <!------------------------ PROJECT IN MIND ------------------------>
            
                    <app-project-in-mind></app-project-in-mind>

        

            <!------------------------ CONTACT ME ------------------------>
                <app-contact-me></app-contact-me>

        </main>

        <!------------------------ FOOTER ------------------------>
                <app-footer></app-footer>
        
        <!------------------------ SCROLL TOP ------------------------>
