
  .scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .navbar {
    background-color: transparent;
    transition: all 0.3s ease-out;
    color: var(--title-color)!important;
  }
  
  .navbar.scrolled {
    background-color: var(--body-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
  }

  .active-linkk{
    transform: scale(1.1)!important;
    color: var(--first-color)!important;
  }
  
  .custom a:hover {
    transform: scale(1.1)!important;
    color: var(--first-color);
  }

  .custom a{
    transition: all 0.3s ease-in-out;
    transform-origin: left center;
    color: var(--title-color);
  }