<header >
    <nav class="navbar navbar-expand-md  custom" [class.scrolled]="isScrolled">
        <div class="container-fluid">
          <a class="navbar-brand" href="#home" (click)="scrollToSection($event)">Daniel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse nav__menu navbar-collapse " id="navbarNavAltMarkup">
            
            <div class="navbar-nav ms-auto nav__list ">
              <a class="nav-link  custom " *ngIf="currentRoute === '/login'" routerLink="/home" fragment="homee" (click)="scrollToSection($event)" >
                <i class="bi bi-house nav__icon"></i>  Home
              </a>
              <a class="nav-link  custom " *ngIf="currentRoute !== '/login'" href="#home" (click)="scrollToSection($event)" >
                <i class="bi bi-house nav__icon"></i>  Home
              </a>
              <a class="nav-link custom" *ngIf="currentRoute !== '/login'" href="#aboute_me" (click)="scrollToSection($event)">
                <i class="bi bi-person nav__icon"></i> Aboute Me
              </a>
              <a class="nav-link custom" *ngIf="currentRoute !== '/login'" href="#Skills" (click)="scrollToSection($event)">
                <i class="bi bi-file-earmark-text nav__icon"></i> Skills
              </a>
              <a class="nav-link custom" *ngIf="currentRoute !== '/login'" href="#services" (click)="scrollToSection($event)">
                <i class="bi bi-briefcase nav__icon"></i> Services
              </a>
              <a class="nav-link custom" *ngIf="currentRoute !== '/login'" href="#portfolio" (click)="scrollToSection($event)">
                <i class="bi bi-card-image nav__icon"></i> Portfolio
              </a>
              <a class="nav-link custom" *ngIf="currentRoute !== '/login'" href="#contact"  (click)="scrollToSection($event)">
                <i class="bi bi-send nav__icon"></i> Contactme
              </a>
              <a class="nav-link custom" *ngIf="!token" routerLink="/login">
                <i class="bi bi-box-arrow-in-right nav__icon"></i> Login
              </a>
              <a class="nav-link custom" *ngIf="token" style="cursor:pointer" (click)="logout()">
                <i class="bi bi-box-arrow-in-left nav__icon"></i>Logout
              </a>
            </div>
            <!-- theme change buttom -->
            <i class="change-theme bi"*ngIf="currentRoute !== '/login'" [ngClass]="{'bi-moon': !isDarkTheme, 'bi-brightness-high': isDarkTheme}" id="theme-button"></i>

          </div>
        </div>
      </nav>
</header>

    
    