
  .scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .navbar {
    background-color: transparent;
    transition: all 0.3s ease-out;
    color: var(--title-color)!important;
  }
  
  .navbar.scrolled {
    background-color: var(--body-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
  }

  .active-linkk{
    transform: scale(1.1)!important;
    color: var(--first-color)!important;
  }
  
  .custom a:hover {
    transform: scale(1.1)!important;
    color: var(--first-color);
  }

  .custom a{
    transition: all 0.3s ease-in-out;
    transform-origin: left center;
    color: var(--title-color);
  }

  .color-picker-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 90;
    align-items: self-start;
  }
  
  .color-picker-label {
    display: inline-block;
    cursor: pointer;
  }
  
  .color-picker-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--body-color); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color-picker {
    position: absolute;
    opacity: 0; 
  }
  
  .color-picker-circle .icon {
    font-size: 2rem;
    color: var(--title-color);
  }

  .color-picker-circle .icon:hover{
    color: var(--first-color);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2.5' y1='5' x2='27.5' y2='5' stroke='%236e57e0' stroke-width='2'/%3E%3Cline x1='2.5' y1='15' x2='27.5' y2='15' stroke='%236e57e0' stroke-width='2'/%3E%3Cline x1='2.5' y1='25' x2='27.5' y2='25' stroke='%236e57e0' stroke-width='2'/%3E%3C/svg%3E");
    
  }
 
  .navbar-toggler{
    color: var(--first-color);
  }

  .Aplogo{
    width: 6rem;
    align-items: center;
    
  }