        <!-- TESTIMONIAL -->
<section class="testimonial section">
                <h2 class="section__title">Testimonial</h2>
                <span class="section__subtitle">My client saying</span>

                <div class="testimonial__container container carousel slide" data-bs-ride="carousel" id="carouselExampleSlidesOnly">
                    
                   <div class="carousel-inner">
                    
                        <!-- Testimonial 1 -->
                        <div class="testimonial__content carousel-item active">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="assets/img/personaRamdon.png" alt="" class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Juanita alcachofa</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                            </div>
                            <div class="testimonial__description">la verdad que muy bueno :0</div>
                        </div> 

                        <!-- Testimonial 2 -->
                        <div class="testimonial__content carousel-item">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="assets/img/personaRamdon1.png" alt="" class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Carla Alfonzo</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                            </div>
                            <div class="testimonial__description">Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit.
                            </div>
                        </div>

                        <!-- Testimonial 3 -->
                        <div class="testimonial__content carousel-item">
                            <div class="testimonial__data">
                                <div class="testimonial__header">
                                    <img src="assets/img/personaRamdon2.png" alt="" class="testimonial__img">

                                    <div>
                                        <h3 class="testimonial__name">Roberta Garcela</h3>
                                        <span class="testimonial__client">Client</span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                                <i class="bi bi-star testimonial__icon-star"></i>
                            </div>
                            <div class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Itaque aliquam nihil vel tempora! Hic excepturi corrupti facere neque voluptate doloribus quis perferendis, 
                                alias esse dignissimos distinctio nemo porro sed minima!
                           </div>
                        </div>
                        
                    </div>
                    
                </div>


</section>
