            <!------------------------ HOME ------------------------>
            <section class="home section " id="home" >
                <div class="home__container container grid" >
                    <div class="home__content grid">
                        <div class="home__social">
                            <a href="https://www.linkedin.com/in/daniel-miño-b89b76200/" target="_blank" class="home__social-icon">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://github.com/DanielMino19" target="_blank" class="home__social-icon">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                        <div class="home__img">
                         
                            <svg class="home__blob" viewBox="0 0 150 187" xmlns="http://www.w3.org/2000/svg">
                              <path  d="M42.6,-9.1C51.3,13.1,51.9,42.6,33.8,58.6C15.7,74.6,-21,77.1,-41.9,61.1C-62.8,45.1,-67.8,10.7,-58.1,-12.7C-48.5,-36,-24.3,-48.5,-3.7,-47.3C16.9,-46.1,33.9,-31.3,42.6,-9.1Z" transform="translate(100 100)" />
                              <image class="home__blob-img" x="10" y="18" xlink:href="assets/img/danimorado.png"/>
                            </svg>
                           
                        </div>

                        <div class="home__data" >
                            <h1 class="home__title" >Hi, I'm Daniel</h1>
                            <h3 class="home__subtitle" *ngIf="!editando">{{titulo}}</h3>
                            <p class="home__descriptio" *ngIf="!editando">
                                {{parrafo}}
                            </p>
                            <button *ngIf="(authService.isLoggedIn | async)" class="button button--flex button--small button--link " (click)="editando = true">Edit<i class="bi bi-pencil button__icon"></i></button>
                            <a href="#contact" (click)="scrollToSection($event)" class="button button--flex">
                                Contact Me <i class="bi bi-envelope-paper button__icon"></i>
                             </a>
                            <div *ngIf="editando" class="services__modal-content">
                                <input [(ngModel)]="titulo" class="contact__input">
                                <textarea cols="0" rows="7" class="contact__input" [(ngModel)]="parrafo"></textarea>
                                <button class="button button--flex button--small button--link " (click)="guardar()">Guardar</button>
                                <button class="button button--flex button--small button--link " (click)="cancelar()">Cancelar</button>
                            </div>

                        </div>

                    </div>
                    <div class="home__scroll" >
                        <a (click)="scrollToFooter()"  class="home__scroll-button button--flex">
                            <i class="bi bi-mouse home__scroll-mouse"></i>
                            <span class="home__scroll-name" >Scroll down</span>
                            <i class="bi bi-arrow-down home__scroll-arrow home"></i>
                        </a>
                    </div>
                </div> 
            </section>  


            <!------------------------ ABOUT ------------------------>
            <section class="about section" id="aboute_me">
                <h2 class="section__title">About Me</h2>
                <span class="section__subtitle">My introduction</span>

                <div class="about__container container grid">
                    <img [src]="imgSrc" alt="Profile picture" class="about__img">
                    <p class="about__description">
                        {{description}}
                    </p>
                    <div class="about__info">
                        <div>
                            <span class="about__info-title">+{{experience}}</span> 
                            <span class="about__info-name">Years <br> Experience</span>
                            <input  class="contact__input" type="text" *ngIf="isEditing" [(ngModel)]="experience" name="experience">
                        </div>
                        <div>
                            <span class="about__info-title">+{{projects}}</span> 
                            <span class="about__info-name">Completed <br> project</span>
                            <input  class="contact__input" type="text" *ngIf="isEditing" [(ngModel)]="projects" name="projects">
                        </div>
                        <div>
                            <span class="about__info-title">+{{companies}}</span> 
                            <span class="about__info-name">Companies <br> worked</span>
                            <input  class="contact__input " type="text" *ngIf="isEditing" [(ngModel)]="companies" name="companies">
                        </div>
                        <button class="button button--flex button--small button--link "  *ngIf="isEditing" (click)="onSave()">Save</button>
                        <button class="button button--flex button--small button--link "  *ngIf="isEditing" (click)="onCancel()">Cancel</button>
                        <button  *ngIf="!isEditing && (authService.isLoggedIn | async)" class="button button--flex button--small button--link " (click)="onEdit()">Edit<i class="bi bi-pencil button__icon"></i></button>

                        <div *ngIf="isEditing">
                            <label>Link picture:</label>
                            <textarea cols="0" rows="3" class="contact__input" [(ngModel)]="imgSrc"></textarea>
                            <label>Description:</label>
                            <textarea cols="0" rows="7" class="contact__input" [(ngModel)]="description"></textarea>
                        </div>
                    </div>

              

                </div>
            </section>