<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="bi bi-geo-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title ">Location</h3>
                    <span class="cotnact__subtitle">Concordia-Entre Rios-Argentina</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="bi bi-envelope-open contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="cotnact__subtitle">danielmino926@gmail.com</span>
                </div>
            </div>

            <form [formGroup]="myForm" (submit)="sendEmail($event)" class="contact__form grid">
                <div class="contact__inputs grid">
                    <div class="contact__content">
                        <label for="from_name" class="contact__label">Name</label>
                        <input type="text" formControlName="from_name" name="from_name" id="from_name" class="contact__input">
                        <div *ngIf="myForm.controls['from_name'].touched && myForm.controls['from_name'].invalid" class="text-danger form-text">
                            Name is required.
                          </div>
                    </div>
                    <div class="contact__content">
                        <label for="email" class="contact__label">Email</label>
                        <input type="email" formControlName="email" name="email" id="email" class="contact__input">
                            <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid" class="text-danger form-text">
                            Email is required.
                          </div>
                          <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].hasError('pattern')" class="text-danger form-text">
                            The email format must be valid.
                          </div>
                    </div>
                    <div class="contact__content">
                        <label for="project" class="contact__label">project</label>
                        <input type="text" formControlName="project" name="project" id="project" class="contact__input">
                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Message</label>
                        <textarea formControlName="message" name="message" id="message" cols="0" rows="7" class="contact__input"></textarea>
                        <div *ngIf="myForm.controls['message'].touched && myForm.controls['message'].invalid" class="text-danger form-text">
                            message requires 10 characters
                        </div>
                    </div>
            
                    <div>
                        <button id="button" type="submit" class="button button--flex" [disabled]="!myForm.valid" >
                            Send Message
                            <i class="bi bi-send button__icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
