<section class="skills section" id="Skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My technical level</span>

    <div class="skills__container container grid">
        <div>
<!------------------------ SKILLS1 ------------------------>
            <div class="skills_content skills__open" #test>
                <div class="skills__header">
                    <i class="bi bi-braces skills__icon"></i>

                    <div>
                        <h1 class="skills__titles">Frontend developer</h1>
                        <span class="skills__subtitle">More than 1 years</span>
                    </div>
                    
                    <i class="bi bi-caret-down skills__arrow"></i>
                </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">HTML</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">CSS</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">JS</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Angular</h3>
                            </div>
                        </div>
                    </div>

            </div>
<!------------------------ SKILLS2 ------------------------>
            <div class="skills_content skills__close"  #test>
                        <div class="skills__header">
                            <i class="bi bi-hdd-rack skills__icon"></i>

                            <div>
                                <h1 class="skills__titles">Backend developer</h1>
                                <span class="skills__subtitle">More than 1 years</span>
                            </div>
                            
                            <i class="bi bi-caret-down skills__arrow"></i>
                        </div>

                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">Java</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">SpringBoot</h3>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">MySQL</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="skills__list grid">
                                <div class="skills__data">
                                    <div class="skills__titles">
                                        <h3 class="skills__name">Nodejs</h3>
                                    </div>
                                </div>
                            </div>

             </div>
        </div>
    </div>
</section>
