
  <app-navbar></app-navbar> 
<div class="loginPage">
<form >
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input [(ngModel)]="email" name="email" type="email"  class="form-control" />
      <div  class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input [(ngModel)]="password" name="password"  type="password"  class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="loginUser()">Submit</button>
  </form>
  
</div>


<!-- 
<div class="portfolio__data">
  <h3 class="portfolio__title">Modern Website</h3>
  <p class="portfolio__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatum sapiente nesciunt, at eveniet dolorum. Eius commodi, cupiditate sit asperiores qui corporis doloremque 
      tenetur ad, corrupti recusandae in quaerat incidunt.</p>
      <a href="" class="button button--flex button--small portfolio__button">
          Demo
          <i class="bi bi-arrow-right button__icon"></i>
      </a>
</div> -->